// Colors 
$primary: #E28413;
$secondary: #9EB7E5;
$success: #3E8914;
$error: #D81159;
$warning: #EDF7B5;
$baseFont: 'Poppins', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "~bootstrap/scss/bootstrap";